* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    cursor: url('icons8-select-cursor-24.png'), auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

header .logo {
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    transition: color 0.3s ease;
}

header .logo:hover {
    color: chartreuse;
}

header .logo span {
    color: chartreuse;
    transition: color 0.3s ease;
}

header .logo:hover span {
    color: #fff;
}

header nav {
    margin-left: auto;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 400;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: chartreuse;
}

.services {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.services h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.services ul {
    list-style: disc;
    padding-left: 20px;
}

.services li {
    margin-bottom: 5px;
}

.contact {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.contact ul {
    list-style: none;
    padding-left: 0;
}

.contact li {
    margin-bottom: 10px;
}

.contact a{
    color: #333;
    text-decoration: none;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


footer {
    
    background-color: #333;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
    margin-top: auto; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content ul li {
    display: inline;
    margin-right: 10px;
    
}
.footer-content ul li a{
   color: #f5f5f5;
}

.footer-content ul li:last-child {
    margin-right: 0;
}

.about-me {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.about-me h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.about-me p {
    margin-bottom: 15px;
    line-height: 1.5;
    color: #555;
}

a:hover{
    cursor: url('icons8-hand-cursor-24.png'), auto;
}

.services span{
    color: rgb(90, 180, 0);
    font-weight: 700;
}
